.about {
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}