.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4.5rem;
}

.red-text {
    font-weight: 600;
    color: rgb(253, 93, 93);
}