.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin-top: 50px;
}

.table {
    max-width: 75%;
    max-height: 70%;
    opacity: 0.9;
    margin-top: 3%;
}

.course-row:hover {
    font-size: 18px;
}

.course-cell {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
}

.drop-btn {
    color: red;
    font-weight: 600;
    left: 5px;
}

.credits-count {
    font-weight: 600;
    font-size: 20px;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.classroom-txt {
    margin-top: 8px;
}

.schedule-body {
    color: red;
    line-height: 0%;
}