.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin-top: 50px;
}

.table {
    max-width: 75%;
    max-height: 70%;
    opacity: 0.9;
    margin-top: 1%;
}

.course-row:hover {
    font-size: 18px;
}

.course-cell {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
}

.drop-btn {
    height: 22px;
    width: 22px;
    color: red;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 50%;
    font-size: 17px;
    font-weight: 600;
    margin-left: 82%;
    margin-bottom: -3px;
    margin-top: -5px;
}

.credits-count {
    font-weight: 600;
    font-size: 20px;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.classroom-txt {
    margin-top: 8px;
}

.schedule-body {
    line-height: 0%;
}