.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table {
    margin: 6rem 0rem;
    max-width: 75%;
    max-height: 75%;
    opacity: 0.9;
}

.add-btn {
    color: rgb(30, 172, 30);
    font-weight: 600;
}

.courses-row:hover {
    font-size: 18px;
}