@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  border: none;
  color: white;
  transition: 0.15s;
}

.background {
  /* Gradient animation */
  background: linear-gradient(250deg, #246655, #516d91, #94aed1);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
  height: 100vh;
  overflow: scroll;
}

button {
  background: transparent;
}

button:hover {
  opacity: 0.6;
}

/* Background gradient animation */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

